<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Graphs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="/">TripAdvance</a>
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/upload">Upload</a>
        <a class="nav-link" href="/archives">Archives</a>
        <a class="nav-link" href="/predict">Predict</a>
        <a class="nav-link active" href="#">Graphs</a>
        <a class="nav-link" href="/logout">Logout</a>
      </div>
    </nav>
    {% if error != None %}
    <div class="alert alert-danger mt-3 mx-2" role="alert">{{ error }}</div>
    {% endif %}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"
      integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw=="
    ></script>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center mt-5">Graphs</h1>
          <p class="text-center">Visualize your trip data in graphs.</p>
        </div>
        <div class="col-4 my-1">
            <div class="card">
                <img src="{% static 'imgs/generated_bar.png' %}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Preço Médio por Cidade de Partida</h5>
                </div>
            </div>
        </div>
        <div class="col-4 my-1">
            <div class="card">
                <img src="{% static 'imgs/generated_pie.png' %}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Distribuição de Cidades de Partida</h5>
                </div>
            </div>
        </div>
        <div class="col-4 my-1">
            <div class="card">
                <img src="{% static 'imgs/generated_trend.png' %}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Tendência de Preço pela Duração</h5>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
        </div>
    </div>
  </body>
</html>
